@font-face {
   font-family: 'Myriad Pro Regular';
   font-display: swap;
   src: url('file:///C:/Users/Alfredo/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-04_115606/fonts/Myriad%20Pro%20Regular/font.ttf');
}
